$color-white: rgba(255, 255, 255, 1);
$color-white-transparent-twenty-five: rgba(255, 255, 255, 0.25);
$color-white-transparent-seventy: rgba(255, 255, 255, 0.7);
$color-black-transparent-ten: rgba(0, 0, 0, 0.1);
$color-black-transparent-seventy: rgba(0, 0, 0, 0.7);
$color-background-start: rgba(52, 199, 160, 1);
$color-background-end: rgba(0, 138, 162, 1);
$color-week-header-message: rgba(0, 182, 163, 1);
$color-week-header-description: rgba(137, 134, 148, 1);
$color-day-view-icon-background: rgba(0, 182, 163, 0.25);
$color-day-activity-text: rgba(21, 28, 31, 1);
$color-day-details-border: rgba(235, 235, 235, 1);
$color-day-details-title: rgba(179, 179, 179, 1);