@import "fonts";
@import "colors";
@import "animations";
@import "headers";
@import "loader";
@import "icons";
@import "days_container";
@import "action_panel";
@import "day_activity";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: $font-stack;
    background: $color-background-start;
    background: -moz-linear-gradient(152deg,  $color-background-start, $color-background-end);
    background: -webkit-linear-gradient(152deg,  $color-background-start, $color-background-end);
    background: linear-gradient(152deg,  $color-background-start, $color-background-end);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="rgba(52, 199, 160, 1)", endColorstr="rgba(0, 138, 162, 1)",GradientType=1 );
    background-repeat: no-repeat;
}

.hidden {
    @extend %animation-hide-view-shared;
    display: none;
}

#container {
    width: 340px;
    max-width: 340px;
    margin: auto;
    height: auto;
    padding: 20px;
    padding-bottom: 0px;
}

.week-review, .day-review, .one-day-container {
    @extend %animation-show-view-shared;
}