


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#34c7a0+0,008aa2+100 */
    background: #34c7a0; /* Old browsers */
    background: -moz-linear-gradient(152deg,  #34c7a0, #008aa2); /* FF3.6-15 */
    background: -webkit-linear-gradient(152deg,  #34c7a0, #008aa2); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(152deg,  #34c7a0, #008aa2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c7a0', endColorstr='#008aa2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
}

.hidden {
    animation-name: hideView;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: none;
}

#container {
    max-width: 375px;
    margin: auto;
    height: auto;
    padding: 20px;
    padding-bottom: 0px;
}

.week-review, .day-review, .one-day-container {
    animation-name: showView;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes showView {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes hideView {
    from { opacity: 1; }
    to   { opacity: 0; display: none;}
}

#week-review-header {
    max-width: 340px;
    background-color: #FFFFFF;
    border-radius: 28px;
    padding: 24px 27px;
    padding-right: 0px;
    width: 313px;
}

#day-review-header {
    max-width: 340px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    padding: 24px 27px;
    padding-right: 0px;
    width: 313px;
}

#week-review-header .header-message {
    color: #00B6A3;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#week-review-header .header-description {
    color: #898694;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

#day-review-header .header-message {
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#day-review-header .header-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

#day-review-header > div {
    display: inline-block;
}

.header-back {
    height: 40px;
    width: 40px;
    position: relative;
    top: -10px;
    left: -15px;
    border-radius: 50%;
}

.header-back:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.header-back:hover i {
    color: rgba(0, 182, 163, 1)
}

.header-back i {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#days-container {
    margin-top: 30px;
    margin-bottom: 15px;
}

.one-day-container {
    background-color: rgba(255,255,255,0.25);
    max-width: 60px;
    border-radius: 23px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom:15px;
    width: 60px;
    height: 60px;
}

.one-day-container:hover {
    cursor: pointer;
}
/*
.one-day-container:hover .one-day-content {
    color:rgba(0, 182, 163, 1);
}
*/
.one-day-container .one-day-content.active {
    color:rgba(0, 182, 163, 1);
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    cursor: default;
}


.one-day-container:last-child {
    margin-right: 0px;
}

.one-day-container:first-child {
    margin-left: 0px;
}

.one-day-content {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    opacity: 0.7;
    padding: 11px;
    text-align: center;
    font-weight: 600;
    border-radius: 23px;
}

.action-panel {
    max-width: 340px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 28px;
    padding: 20px;
    margin-bottom: 15px;
    width: 300px;
}

.action-info > div {
    display: inline-block;
}

.icon-container {
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 23px;
    top: 3px;
    position: relative;
    margin-right: 15px;
}

.icon-container > i {
    padding: 8px;
    position: absolute;
}

.action-title {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.action-description {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

#activity-value {
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 55px;
    margin-bottom: 26px;
    margin-top: 26px;
}

#steps-container .action-info, #calories-container .action-info{
    display: inline-block;
}

.action-value {
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
}

#day-activity-container {
    max-width: 340px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 28px 28px 0px 0px;
    padding: 24px 0px 24px 0px;
    width: 340px;
}

#day-steps-container {
    width: 231px;
    height: 231px;
    border: 8px solid rgb(0, 182, 163);
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 auto;
    padding: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#day-steps-wrapper > div {
    margin: auto;
    text-align: center;
}

#day-steps-icon {
    background-color: rgba(0, 182, 163, 0.25);
}

#day-steps-icon i {
    color: rgb(255, 255, 255);
    position: static;
}

#day-steps-title {
    font-size: 20px;
    font-weight: 500;
    color: rgba(21, 28, 31, 1);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#day-steps-value {
    font-size: 48px;
    font-weight: 700;
    color: rgba(21, 28, 31, 1);
}

#day-review-progress-message {
    font-size: 20px;
    font-weight: 500;
    color: rgba(21, 28, 31, 1);
    text-align: center;
}

#day-review-motivation-message {
    font-size: 40px;
    font-weight: 700;
    color: rgba(21, 28, 31, 1);
    text-align: center;
}

#day-review-details {
    margin-top: 85px;
}

#day-review-details .day-review-details-wrapper:last-child {
    border-right: none;
}

.day-review-details-wrapper {
    width: 32%;
    display: inline-block;
    min-width: 100px;
    min-height: 75px;
    border-right: 1px solid rgb(235, 235, 235);
    position: relative;
}

.day-review-details-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(179, 179, 179, 1);
    text-align: center;
}

.day-review-details-value {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 182, 163, 1);
    text-align: center;
}

.day-review-details-container {
    bottom: 0px;
    position: absolute;
    margin: auto;
    width: 100%;
}